############################ Shortcuts:
alias sp='PROMPT_DIRTRIM=1'
alias reload='source ~/.bashrc'


########################### LS Command
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # macOS `ls`
	colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
# List all files colorized in long format, excluding . and ..
alias lsa="ls -lAF ${colorflag}"
# List only directories
alias lsd="ls -lAF ${colorflag} | grep '^d'"


# Tmux 
alias tmuxsetpath='tmux command-prompt -I '"'"'a -c "#{pane_current_path}"'"'"'';
